/* CSS Document */
body { margin: 0px 0px 0px 0px; background: #303030 url(images/background.jpg) repeat}
#header { margin: 0 auto;height:auto; width: 1300px; margin-top: 20px;background: #FFFFFF url(images/ctbg.gif) no-repeat scroll 0 0; }
#topheader {   border-bottom: 1px solid #777777; color: #ff6600;	width: 1000px; }
#theader { font-family: Impact, Sans-serif;	font-size: 36px; color: #303030;	background: url(images/logo.gif) no-repeat 0;	margin-left: 18px; margin-top: -5px; margin-bottom: -5px; padding-left: 35px; width: 697px; }
#theadert { font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 10px; color: #ff6600; padding-left: 73px; }
#mainbanner {
  width: 1010px;
	height: 100px;
	border-bottom: 1px solid #303030;
	background: #303030;
	padding-top: 80px;
	padding-left: 190px;
	font-family: Rockwell Extra Bold;
	font-size: 1.9em;
	color: #FFF;
	border-bottom:5px solid #303030;
}

#login { margin-left:60em; margin-top:5em;line-height:1.2em;float:left; position:absolute;background-color:white;}

#container { height:auto; width: 720px; font-family: Verdana, Arial, Helvetica, sans-serif;margin-left:4em;margin-top:1em;}

h2 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
	letter-spacing: -0.8px;
	font-size: 32px;
	color: #303030;
	margin: 0 0 0 0;
	padding-left: 24px;
	padding-top: 1px;
	padding-bottom: 12px;
	text-align:center;
}

/* CSS Document */
.intro{
border-bottom:3px solid #303030;text-align:left;line-height:3em;}



#sidebar{margin-top:3em;margin-left:12px;}

/*মূল বক্স এর মাপ, বর্ডার ও ব্যাকগ্রাউন্ড */
	.authorbox {
	
	    width:100px;
	    height:200px;
	    background: transparent url(../images/aubg.png) repeat-x;
	    float:left;
	    padding:10px;
	    margin-left:0em;
	    margin-top:7em;
	}
	 
	/*উপরের অংশ যেখানে লেখকের নাম ও অবস্থা দেখাবে*/
	.topinfo {
	    height:20px;
	    border-bottom:1px solid #818388;
	    margin-bottom:10px;
	}
	.topinfo p {	    padding:0px;
	    margin:0px;
	    font-size:14px;
	}
	.topinfo .left {
	    float:left;
	}
	.topinfo .right {
	    float:right;
	      }
	 
	/*লেখকের ছবিতে বর্ডার ও মাপ দেয়া*/
       .authorimg {
	    height:120px;
          width:120px;
	    border:3px solid #818388;
	    float:left;
	}
	 .addpost:{text-align:center;}
	 #post{height:50px;padding:50px;}
	/*লেখকের সম্পর্কে যে লেখাগুলো থাকবে*/
	.authorbio {
	    padding-bottom:10px;
	    float:left;
	    width:300px;
	    overflow: hidden;
	}
	.authorbio p {
	    margin:0;
	    font-size:15px;
	    padding-bottom:5px;
	    
	}
	 
	/*লেখককে অনুসরণ এর লিংক ও ছবি গুলো*/
	.followme {
	    float:right;
	    padding-top:10px;
	}
	.followme p {
	    float:left;
	    margin:0px;
	    font-size:18px;
	    margin-right:10px;
	}
	.followme .social {
	    float:right;
	}	.followme .social img {
	    float:left;
	    margin-right:5px;
	}

