h1
{
font: bold;

color: #996600;
margin-left:10em;
margin-top:-10em;	
}
body {
text-align:centre;
	font-family: "Bitstream Vera Sans",Verdana,Arial,Helvetica,Sans,"Bitstream Vera Serif";
	font-size: 1.5em;
	margin-top:10em;
	color:navy;

	
	
}
#headermain{
letter-spacing: 0.2em;
	margin: 7em 80px 40px 40px;
	padding: 15px 0px 0px 0px; 
	font: normal 100% 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif; 
	height: 1000px;
	background-color:black;
	

}#wrap {
	
	
	padding:2px;
	}
	
#farouter1{
 background: none repeat scroll 0 0 black ;
    text-align:centre;
    margin: 30em auto 10px;
    margin-top:350px;
    width: 100px;
	height:150px;
	padding:5px;
	}
	body{
	
	background:black url(daffodil.jpg) no-repeat scroll top left ;
	width:80px;
	height:1000px;
	padding:1px;
	
	}
	
#outer1 {
	
	}
	body{
	color:black;
	margin-top:60px;
	}